* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #222;
}
#menuIcon {
    display: none;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
header {
    background: #4CAF50;
    color: white;
    text-align: center;
    padding: 2rem 5%;
}

header h1 {
    font-size: 6vw; 
}

nav {
    background: #226635;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column; 
}

nav li {
    padding: 1rem;
    color: white;
    border-bottom: 1px solid #555;
}

.temaValtas {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
}

.temaValt {
    background-color: transparent;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 3rem;
}

main {
    padding: 2rem 5%;
}

.feladatok {
    max-width: 100%;
}

form {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

input[type="text"] {
    flex: 1;
    padding: 0.7rem;
    font-size: 1rem;
}

form button {
    padding: 0.7rem 1rem;
    background: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
}


.feladat {
    background: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.checkbox {
    width: 1.2rem;
    height: 1.2rem;
}

.torles {
    background: crimson;
    border: none;
    color: white;
    padding: 0.5rem;
    cursor: pointer;
}

@media (max-width: 600px) {
    #menuIconDiv {
        background-color: #226635;
    }
    nav {
        display: none;

    }
    #menuIcon {
        display: block;
    }
    nav ul {
        flex-direction: row;
        justify-content: space-around;
    }

    nav li {
        border: none;
    }

    header h1 {
        font-size: 3rem;
    }
}

@media (max-width: 900px) {

    body {
        font-size: 1.1rem;
    }

    main {
        padding: 3rem 10%;
    }

    .feladat {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}


@media (max-width: 1200px) {

    
    main {
        max-width: 1200px;
        margin: auto;
    }

    header h1 {
        font-size: 3.5rem;
    }
    .feladat {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
img {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
}

#pipa:hover {
    cursor: pointer;
    color: green;
    font-size: 1.2rem;
}
#x:hover {
    cursor: pointer;
    color: red;
    font-size: 1.2rem;
}